In [12]:
import os
import requests

In [13]:
url2 = "http://eaton-lab.org/data/iris-data-dirty.csv"

response = requests.get(url2)
response

In [14]:
response.text[:50]

NameError: name 'response' is not defined

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('http://eaton-lab.org/data/iris-data-dirty.csv', names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species_ID'])

In [17]:
df[0:5]

   sepal_length  sepal_width  petal_length  petal_width   species_ID
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
#Indexing practice 
#df.loc[rowname, columnname] OR df.iloc[] for calling by index
df.loc[1, 'species_ID']

'Iris-setosa'

In [19]:
df.iloc[4,2]

1.4

In [20]:
df.species_ID

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species_ID, Length: 150, dtype: object

In [21]:
#new dataframe with variable and value columns
melted_df = pd.melt(df)

In [22]:
#get unique values from the value column
unique_values = melted_df['value'].unique()

In [23]:
#check unique values
unique_values

array([5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7.0, 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6.0, 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9, 3.5, 3.0, 3.2, 3.1,
       3.6, 3.9, 3.4, 2.9, 3.7, 4.0, 3.8, 3.3, 4.1, 4.2, 2.3, 2.8, 2.4,
       2.7, 2.0, 2.2, 2.5, nan, 2.6, 1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2,
       1.0, 1.9, 0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.8, 2.1, 'Iris-setosa',
       'Iris-setsa', 'Iris-versicolour', 'Iris-versicolor',
       'Iris-virginica'], dtype=object)

In [26]:
#drop nan value rows
df.dropna(inplace=True)

In [27]:
#new dataframe with variable and value columns
melted_df = pd.melt(df)

In [28]:
#get unique values from the value column
unique_values = melted_df['value'].unique()

In [29]:
#check if nan values dropped
unique_values

array([5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7.0, 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6.0, 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9, 3.5, 3.0, 3.2, 3.1,
       3.6, 3.9, 3.4, 2.9, 3.7, 4.0, 3.8, 3.3, 4.1, 4.2, 2.3, 2.8, 2.4,
       2.7, 2.0, 2.2, 2.5, 2.6, 1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1.0,
       1.9, 0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.8, 2.1, 'Iris-setosa',
       'Iris-setsa', 'Iris-versicolour', 'Iris-versicolor',
       'Iris-virginica'], dtype=object)

In [30]:
df.species_ID
#two rows removed

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species_ID, Length: 148, dtype: object

In [31]:
#replace instances of spelling errors
df_clean = df.replace(to_replace = ['Iris-setsa','Iris-versicolour'], value = ['Iris-setosa', 'Iris-versicolor'])

In [32]:
#check if values replaced
melted_df = pd.melt(df_clean)
unique_values = melted_df['value'].unique()
unique_values

array([5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7.0, 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6.0, 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9, 3.5, 3.0, 3.2, 3.1,
       3.6, 3.9, 3.4, 2.9, 3.7, 4.0, 3.8, 3.3, 4.1, 4.2, 2.3, 2.8, 2.4,
       2.7, 2.0, 2.2, 2.5, 2.6, 1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1.0,
       1.9, 0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.8, 2.1, 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [33]:
df_clean.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    148.000000   148.000000    148.000000   148.000000
mean       5.841892     3.058108      3.748649     1.195946
std        0.832586     0.434094      1.773635     0.767882
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.575000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
df_clean.groupby?

Signature:
df_clean.groupby(
    by=None,
    axis=0,
    level=None,
    as_index: bool = True,
    sort: bool = True,
    group_keys: bool = True,
    squeeze: bool = False,
    observed: bool = False,
) -> 'groupby_generic.DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If an ndarray is passed, the
    values are used as-is determine the groups. A label or list of
    labels may be passed to group by the columns in ``self``. Notice
    that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1).
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, default True
    When calling apply, add group keys to index to identify pieces.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. versionadded:: 0.23.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`_ for more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0
File:      /opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [61]:
#summary stats for each of the three species
by_sl = df_clean.groupby('species_ID')['sepal_length'].describe()
by_sl

                 count      mean       std  min    25%  50%    75%  max
species_ID
Iris-setosa       50.0  3.418000  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   48.0  2.770833  0.316200  2.0  2.575  2.8  3.000  3.4
Iris-virginica    50.0  2.974000  0.322497  2.2  2.800  3.0  3.175  3.8

In [62]:
by_sw = df_clean.groupby('species_ID')['sepal_width'].describe()
by_sw

                 count      mean       std  min    25%  50%    75%  max
species_ID
Iris-setosa       50.0  3.418000  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   48.0  2.770833  0.316200  2.0  2.575  2.8  3.000  3.4
Iris-virginica    50.0  2.974000  0.322497  2.2  2.800  3.0  3.175  3.8

In [64]:
by_pl = df_clean.groupby('species_ID')['petal_length'].describe()
by_pl

                 count   mean       std  min  25%   50%    75%  max
species_ID
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   48.0  4.250  0.469948  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [65]:
by_pw = by_sw = df_clean.groupby('species_ID')['petal_width'].describe()
by_pw

                 count      mean       std  min  25%  50%  75%  max
species_ID
Iris-setosa       50.0  0.244000  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor   48.0  1.322917  0.200255  1.0  1.2  1.3  1.5  1.8
Iris-virginica    50.0  2.026000  0.274650  1.4  1.8  2.0  2.3  2.5

In [80]:
#trying loop

for species, stat in df_clean.groupby('species_ID'):
    print(species)
    print(stat.describe())

Iris-setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000
Iris-versicolor
       sepal_length  sepal_width  petal_length  petal_width
count     48.000000    48.000000     48.000000    48.000000
mean       5.935417     2.770833      4.250000     1.322917
std        0.522062     0.316200      0.469948     0.200255
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.575000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
Iris-virginica
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

# Conclusions:
On average:
Iris virginica has the longest sepal length and petal width
Iris setosa has the longest sepal width
Iris versicolor has the longest petal length

In [53]:
conda install -c conda-forge scipy

Collecting package metadata (current_repodata.json): \ WARNING conda.models.version:get_matcher(541): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.7.1.*, but conda is ignoring the .* and treating it as 1.7.1
done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.14.0
  latest version: 25.1.1

Please update conda by running

    $ conda update -n base -c conda-forge conda



# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [60]:
import scipy.stats

In [86]:
df_clean.get_group('Iris_Setosa')
#This did not work for me ):

AttributeError: 'DataFrame' object has no attribute 'get_group'